

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#copertina{
  width: 150px;
  max-width: fit-content;
}
.fit_content{
  max-width: fit-content!important;
}
body{
background-color:black !important;
color:white !important;
}
.nav-items{
  color: white !important;
}
#logo{
  width:48px;
}
.imgKids{
  width: 20px;
}