








#copertina{
  width: 150px;
  max-width: fit-content;
}
.fit_content{
  max-width: fit-content!important;
}
body{
background-color:black !important;
color:white !important;
}
.nav-items{
  color: white !important;
}
#logo{
  width:48px;
}
.imgKids{
  width: 20px;
}
a:link{
  color:white;
}